In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import json
import numpy
import csv
from scipy import stats

TopArtistCSV = '../Output/countriesTopArtist.csv'

#sample csv read
artistCSVDF = pd.read_csv(TopArtistCSV)
artistCSVDF

,name,listeners,mbid,country
0,The xx,2090127,c5c2ea1c-4bde-4f4d-bd0b-47b200bf99d6,AFGHANISTAN
1,The Beatles,4082721,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,AFGHANISTAN
2,Radiohead,5094619,a74b1b7f-71a5-4011-9441-d0b5e4122711,AFGHANISTAN
3,Lana Del Rey,2352583,b7539c32-53e7-4908-bda3-81449c367da6,AFGHANISTAN
4,Pink Floyd,3399905,83d91898-7763-47d7-b03b-b92132375c47,AFGHANISTAN
...,...,...,...,...
9561,Eminem,4966239,b95ce3ff-3d05-4e87-9e01-c97b66af13d4,UNITED KINGDOM
9562,Kings of Leon,3652328,6ffb8ea9-2370-44d8-b678-e9237bbd347b,UNITED KINGDOM
9563,Lana Del Rey,2352583,b7539c32-53e7-4908-bda3-81449c367da6,UNITED KINGDOM
9564,Ariana Grande,1681258,f4fdbb4c-e4b7-47a0-b83b-d91bbfcfa387,UNITED KINGDOM
9565,Frank Sinatra,2675492,197450cd-0124-4164-b723-3c22dd16494d,UNITED KINGDOM

In [3]:
# Importing country GDP data from https://worldpopulationreview.com/countries/countries-by-gdp

GDP_csv = '../Input/GDP.csv'
GDP_df = pd.read_csv(GDP_csv)
GDP_df

,rank,country,imfGDP,unGDP,gdpPerCapita,pop
0,1,United States,2.219810e+13,1.862450e+13,66678.0263,332915.073
1,2,China,1.546810e+13,1.121830e+13,10710.3777,1444216.107
2,3,Japan,5.495420e+12,4.936210e+12,43596.8659,126050.804
3,4,Germany,4.157120e+12,3.477800e+12,49548.2308,83900.473
4,5,India,3.257720e+12,2.259640e+12,2337.9495,1393409.038
...,...,...,...,...,...,...
206,207,Pakistan,0.000000e+00,2.825060e+11,1254.4675,225199.937
207,208,Anguilla,0.000000e+00,3.375205e+08,22327.2124,15.117
208,209,Sudan,0.000000e+00,8.288740e+10,1845.6600,44909.353
209,210,Syria,0.000000e+00,2.216308e+10,1212.7072,18275.702
210,211,Turks and Caicos Islands,0.000000e+00,9.175505e+08,23388.4044,39.231

In [4]:
# 196 countries in artist csv
# 211 countries in GDP data

# artistCSVDF['country'] 
GDP_df['country'] = GDP_df['country'].str.title()
artistCSVDF['country'] = artistCSVDF['country'].str.title()

GDP_artist_df = artistCSVDF.merge(GDP_df, how='left')

# Removing rows where gdpPerCapita equals NaN
GDP_artist_df = GDP_artist_df[pd.to_numeric(GDP_artist_df['gdpPerCapita'],errors='coerce').notna()]

print(len())
GDP_artist_df

TypeError: len() takes exactly one argument (0 given)

In [ ]:
grouped_GDP_Artist = GDP_artist_df.groupby('country')

GDP_per_capita = grouped_GDP_Artist['gdpPerCapita'].mean()
listeners_per_country = grouped_GDP_Artist['listeners'].sum()

# GDP_per_capita
# listeners_per_country

In [ ]:
# Generating scatter plot
plt.scatter(GDP_per_capita, listeners_per_country)

plt.xlabel('GDP per Capita')
plt.ylabel('Total Listeners')
plt.title('Listeners by GDP per Capita')
# plt.yticks(labels=)


plt.yscale(value='linear')


# Running linear regression
(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(GDP_per_capita, listeners_per_country)

regress_values = GDP_per_capita * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept, 2))

# Linear Regression of the GDP per capita and number of listeners
r_sq = rvalue * rvalue
r_sq_text = f'r$^2$ = {round(r_sq,2)}'

plt.plot(GDP_per_capita, regress_values, 'r-')
plt.annotate(line_eq,(20,30000000),fontsize=15, color='red')
plt.annotate(r_sq_text,(20,14000000),fontsize=15, color='red')


plt.show()